In [4]:
import pandas as pd
import numpy as np
obj1=pd.Series([5.1,-2.6,7.8,10],index=['a','c','g','f'])
print('obj1:\n',obj1)
obj2=pd.Series([2.6,-2.8,3.7,-1.9],index=['a','b','g','h'])
print('obj2:\n',obj2)
print(obj1+obj2)

obj1:
 a     5.1
c    -2.6
g     7.8
f    10.0
dtype: float64
obj2:
 a    2.6
b   -2.8
g    3.7
h   -1.9
dtype: float64
a     7.7
b     NaN
c     NaN
f     NaN
g    11.5
h     NaN
dtype: float64

In [5]:
a=np.arange(6).reshape(2,3)
b=np.arange(4).reshape(2,2)
df1=pd.DataFrame(a,columns=['a','b','e'],index=['A','C'])
print('df1:\n',df1)
df2=pd.DataFrame(b,columns=['a','b'],index=['A','D'])
print('df2:\n',df2)
print('df1+df2:\n',df1+df2)

df1:
    a  b  e
A  0  1  2
C  3  4  5
df2:
    a  b
A  0  1
D  2  3
df1+df2:
      a    b   e
A  0.0  2.0 NaN
C  NaN  NaN NaN
D  NaN  NaN NaN

In [6]:
data={'fruit':['apple','grape','banana'],'price':['30元','43元','28元']}
df1=pd.DataFrame(data)
print(df1)
def f(x):
    return x.split('元')[0]
df1['price']=df1['price'].map(f)
print('修改后的数据表：\n',df1)

    fruit price
0   apple   30元
1   grape   43元
2  banana   28元
修改后的数据表：
     fruit price
0   apple    30
1   grape    43
2  banana    28

In [7]:
df2=pd.DataFrame(np.random.randn(3,3),columns=['a','b','c'],index=['app','win','mac'])
print(df2)
df2.apply(np.mean)

            a         b         c
app  0.240011 -0.591489  2.146895
win -0.681948 -0.794786  0.001416
mac -0.300197  1.481695 -0.730402

a   -0.247378
b    0.031807
c    0.472637
dtype: float64

In [8]:
print(df2)
df2.applymap(lambda x:'%.3f' %x)

            a         b         c
app  0.240011 -0.591489  2.146895
win -0.681948 -0.794786  0.001416
mac -0.300197  1.481695 -0.730402

          a       b       c
app   0.240  -0.591   2.147
win  -0.682  -0.795   0.001
mac  -0.300   1.482  -0.730

In [9]:
wy=pd.Series([1,-2,4,-4],index=['c','b','a','d'])
print(wy)
print('排序后的Series：\n',wy.sort_index())

c    1
b   -2
a    4
d   -4
dtype: int64
排序后的Series：
 a    4
b   -2
c    1
d   -4
dtype: int64

In [10]:
print('值排序后的Series：\n',wy.sort_values())

值排序后的Series：
 d   -4
b   -2
c    1
a    4
dtype: int64

In [11]:
print(df2)
df2.sort_values(by='a')

            a         b         c
app  0.240011 -0.591489  2.146895
win -0.681948 -0.794786  0.001416
mac -0.300197  1.481695 -0.730402

            a         b         c
win -0.681948 -0.794786  0.001416
mac -0.300197  1.481695 -0.730402
app  0.240011 -0.591489  2.146895

In [12]:
print('按列汇总:\n',df2.sum())
print('按行汇总:\n',df2.sum(axis=1))

按列汇总:
 a   -0.742133
b    0.095421
c    1.417910
dtype: float64
按行汇总:
 app    1.795418
win   -1.475317
mac    0.451096
dtype: float64

In [13]:
df2.describe()

              a         b         c
count  3.000000  3.000000  3.000000
mean  -0.247378  0.031807  0.472637
std    0.463244  1.259748  1.495408
min   -0.681948 -0.794786 -0.730402
25%   -0.491072 -0.693137 -0.364493
50%   -0.300197 -0.591489  0.001416
75%   -0.030093  0.445103  1.074156
max    0.240011  1.481695  2.146895

In [14]:
obj=pd.Series(['a','b','c','a','d','c'])
print(obj.unique())
print(obj.value_counts())

['a' 'b' 'c' 'd']
a    2
c    2
b    1
d    1
dtype: int64