Pandas中的数据结构

In [1]:
import pandas as pd
obj = pd.Series([1,-2,3,-4])
print(obj)

0    1
1   -2
2    3
3   -4
dtype: int64

In [3]:
i=["a","c","d","a"]
v=[2,4,5,7]
t=pd.Series(v,index=i,name="col")
print(t)

a    2
c    4
d    5
a    7
Name: col, dtype: int64

In [8]:
val=[2,4,5,6]
idx1=range(10,14)
idx2="hello the cruel world".split()
s0=pd.Series(val)
s1=pd.Series(val,index=idx1)
t=pd.Series(val,index=idx2)
print(s0.index)
print(s1.index)
print(t.index)
print(s0[0])
print(s1[10])#若是用数值来作为关键字，则不能通过缺省的方式访问
print('default:',t[0],'label:',t["hello"])

RangeIndex(start=0, stop=4, step=1)
RangeIndex(start=10, stop=14, step=1)
Index(['hello', 'the', 'cruel', 'world'], dtype='object')
2
2
2
default: 2 label: 2

In [9]:
sdata={'Ohio':35000,'Texas':71000,'Oregon':16000,'Utah':5000}
obj3=pd.Series(sdata)
print(obj3)

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [10]:
sdata={'a':100,'b':200,'e':300}
obj3=pd.Series(sdata)
print(obj3)

a    100
b    200
e    300
dtype: int64

In [28]:
sdata={'a':100,'b':200,'e':300}
letter={'a','b','c','e'}
obj=pd.Series(sdata,index=letter)
print(obj)

c      NaN
a    100.0
e    300.0
b    200.0
dtype: float64

In [46]:
sdata={'Ohio':35000,'Texas':71000,'Oregon':16000,'Utah':5000}
obj1=pd.Series(sdata)
print(obj1)
print('--------------------------------')
states=['Califonia','Ohio','Oregon','Texas']
obj2=pd.Series(sdata,index=states)#有才对应，没有则为空
print(obj2)
print('--------------------------------')
print(obj1+obj2)#都有则相加，其中一个没有就为空，打印顺序按字母的顺序大写在上，小写在下

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64
--------------------------------
Califonia        NaN
Ohio         35000.0
Oregon       16000.0
Texas        71000.0
dtype: float64
--------------------------------
Califonia         NaN
Ohio          70000.0
Oregon        32000.0
Texas        142000.0
Utah              NaN
dtype: float64

In [47]:
obj=pd.Series([4,7,-3,2])
obj.index=['Bob','Steve','Jeff','Ryan']
print(obj)

Bob      4
Steve    7
Jeff    -3
Ryan     2
dtype: int64

DataFrame

In [49]:
data={
    'name':['张三','李四','王五','小明'],
    'sex':['female','female','male','male'],
    'year':[2001,2001,2003,2002],
    'city':['北京','上海','广州','北京']
}
df=pd.DataFrame(data)
print(df)

  name     sex  year city
0   张三  female  2001   北京
1   李四  female  2001   上海
2   王五    male  2003   广州
3   小明    male  2002   北京

In [50]:
df1=pd.DataFrame(data,columns=['name','year','sex','city'])#自定义改变关键字的排序
print(df1)

  name  year     sex city
0   张三  2001  female   北京
1   李四  2001  female   上海
2   王五  2003    male   广州
3   小明  2002    male   北京

In [52]:
df2=pd.DataFrame(data,columns=['name','year','sex','city','address'])#自定义改变关键字的排序
print(df2)

  name  year     sex city address
0   张三  2001  female   北京     NaN
1   李四  2001  female   上海     NaN
2   王五  2003    male   广州     NaN
3   小明  2002    male   北京     NaN

In [53]:
df3=pd.DataFrame(data,columns=['name','sex','year','city'],index=['a','b','c','d'])
print(df3)

  name     sex  year city
a   张三  female  2001   北京
b   李四  female  2001   上海
c   王五    male  2003   广州
d   小明    male  2002   北京

In [55]:
print(df3)
print(df3.index)
print(df3.columns)

  name     sex  year city
a   张三  female  2001   北京
b   李四  female  2001   上海
c   王五    male  2003   广州
d   小明    male  2002   北京
Index(['a', 'b', 'c', 'd'], dtype='object')
Index(['name', 'sex', 'year', 'city'], dtype='object')

In [56]:
print('name' in df.columns)
print('a' in df.index)

True
False

In [57]:
df3.index.insert(1,'w')

Index(['a', 'w', 'b', 'c', 'd'], dtype='object')

In [61]:
print(df)
print('信息表的所有值为：\n',df.values)
print('信息表的所有列为：\n',df.columns)
print('信息表的元素个数为：\n',df.size)
print('信息表的维度为：\n',df.ndim)
print('信息表的形状为：\n',df.shape)

  name     sex  year city
0   张三  female  2001   北京
1   李四  female  2001   上海
2   王五    male  2003   广州
3   小明    male  2002   北京
信息表的所有值为：
 [['张三' 'female' 2001 '北京']
 ['李四' 'female' 2001 '上海']
 ['王五' 'male' 2003 '广州']
 ['小明' 'male' 2002 '北京']]
信息表的所有列为：
 Index(['name', 'sex', 'year', 'city'], dtype='object')
信息表的元素个数为：
 16
信息表的维度为：
 2
信息表的形状为：
 (4, 4)