In [4]:
import pandas as pd
import numpy as np
obj1=pd.Series([5.1,-2.6,7.8,10],index=['a','c','g','f'])
print('obj1:\n',obj1)
obj2=pd.Series([2.6,-2.8,3.7,-1.9],index=['a','b','g','h'])
print('obj2:\n',obj2)
print(obj1+obj2)

obj1:
 a     5.1
c    -2.6
g     7.8
f    10.0
dtype: float64
obj2:
 a    2.6
b   -2.8
g    3.7
h   -1.9
dtype: float64
a     7.7
b     NaN
c     NaN
f     NaN
g    11.5
h     NaN
dtype: float64

In [5]:
a=np.arange(6).reshape(2,3)
b=np.arange(4).reshape(2,2)
df1=pd.DataFrame(a,columns=['a','b','e'],index=['A','C'])
print('df1:\n',df1)
df2=pd.DataFrame(b,columns=['a','b'],index=['A','D'])
print('df2:\n',df2)
print('df1+df2:\n',df1+df2)

df1:
    a  b  e
A  0  1  2
C  3  4  5
df2:
    a  b
A  0  1
D  2  3
df1+df2:
      a    b   e
A  0.0  2.0 NaN
C  NaN  NaN NaN
D  NaN  NaN NaN

In [6]:
data={'fruit':['apple','grape','banana'],'price':['30元','43元','28元']}
df1=pd.DataFrame(data)
print(df1)
def f(x):
    return x.split('元')[0]
df1['price']=df1['price'].map(f)
print('修改后的数据表：\n',df1)

    fruit price
0   apple   30元
1   grape   43元
2  banana   28元
修改后的数据表：
     fruit price
0   apple    30
1   grape    43
2  banana    28

In [7]:
df2=pd.DataFrame(np.random.randn(3,3),columns=['a','b','c'],index=['app','win','mac'])
print(df2)
df2.apply(np.mean)

            a         b         c
app  0.240011 -0.591489  2.146895
win -0.681948 -0.794786  0.001416
mac -0.300197  1.481695 -0.730402

a   -0.247378
b    0.031807
c    0.472637
dtype: float64

In [8]:
print(df2)
df2.applymap(lambda x:'%.3f' %x)

            a         b         c
app  0.240011 -0.591489  2.146895
win -0.681948 -0.794786  0.001416
mac -0.300197  1.481695 -0.730402

          a       b       c
app   0.240  -0.591   2.147
win  -0.682  -0.795   0.001
mac  -0.300   1.482  -0.730

In [9]:
wy=pd.Series([1,-2,4,-4],index=['c','b','a','d'])
print(wy)
print('排序后的Series：\n',wy.sort_index())

c    1
b   -2
a    4
d   -4
dtype: int64
排序后的Series：
 a    4
b   -2
c    1
d   -4
dtype: int64

In [10]:
print('值排序后的Series：\n',wy.sort_values())

值排序后的Series：
 d   -4
b   -2
c    1
a    4
dtype: int64

In [11]:
print(df2)
df2.sort_values(by='a')

            a         b         c
app  0.240011 -0.591489  2.146895
win -0.681948 -0.794786  0.001416
mac -0.300197  1.481695 -0.730402

            a         b         c
win -0.681948 -0.794786  0.001416
mac -0.300197  1.481695 -0.730402
app  0.240011 -0.591489  2.146895

In [12]:
print('按列汇总:\n',df2.sum())
print('按行汇总:\n',df2.sum(axis=1))

按列汇总:
 a   -0.742133
b    0.095421
c    1.417910
dtype: float64
按行汇总:
 app    1.795418
win   -1.475317
mac    0.451096
dtype: float64

In [13]:
df2.describe()

              a         b         c
count  3.000000  3.000000  3.000000
mean  -0.247378  0.031807  0.472637
std    0.463244  1.259748  1.495408
min   -0.681948 -0.794786 -0.730402
25%   -0.491072 -0.693137 -0.364493
50%   -0.300197 -0.591489  0.001416
75%   -0.030093  0.445103  1.074156
max    0.240011  1.481695  2.146895

In [14]:
obj=pd.Series(['a','b','c','a','d','c'])
print(obj.unique())
print(obj.value_counts())

['a' 'b' 'c' 'd']
a    2
c    2
b    1
d    1
dtype: int64

In [26]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'key1':['a','a','b','c','a'],
                 'key2':['yes','no','yes','yes','no'],
                'data1':np.random.randn(5),
                'data2':np.random.randn(5)})
grouped=df['data1'].groupby(df['key1'])
print(grouped.size())
print(grouped.mean())

key1
a    3
b    1
c    1
Name: data1, dtype: int64
key1
a    0.220920
b   -0.147161
c   -0.128833
Name: data1, dtype: float64

In [25]:
groupk1=df.groupby('key2').mean()
groupk1

         data1     data2
key2
no    0.963506 -0.337354
yes  -1.432929 -0.155196

In [27]:
wlist=['w','w','y','w','y']
df.groupby(wlist).sum()

      data1     data2
w -0.009198  2.716547
y  0.395963  0.162831

In [29]:
df=pd.DataFrame(np.random.normal(size=(6,5)),index=['a','b','c','A','B','c'])
print('数据为：\n',df)
wdict={'a':'one','A':'one','b':'two','B':'two','c':'three'}
print('分组汇总后的结果为：\n',df.groupby(wdict).sum())

数据为：
           0         1         2         3         4
a  0.241192  0.770398 -0.847210  0.381636 -1.421680
b  1.484684  1.476221  0.609994 -0.124201  0.514213
c -0.111186  1.958946 -0.139511 -0.870358  0.007008
A -0.512186  0.313471  0.978878  0.251530  0.569095
B -0.789155 -0.186439  0.330809  2.024273 -0.691417
c  0.270075 -1.221661  0.823711 -0.360448 -0.521745
分组汇总后的结果为：
               0         1         2         3         4
one   -0.270994  1.083868  0.131668  0.633165 -0.852585
three  0.158889  0.737285  0.684199 -1.230806 -0.514737
two    0.695529  1.289782  0.940803  1.900072 -0.177203

In [30]:
def judge(x):
    if x>=0:
        return 'a'
    else:
        return 'b'
df=pd.DataFrame(np.random.randn(4,4))
print(df)
print(df[3].groupby(df[3].map(judge)).sum())

          0         1         2         3
0 -0.213715 -0.399258 -1.455622  0.520606
1  0.727067  0.394802 -0.795081  0.818997
2  1.542224 -1.921260 -2.512967 -1.278621
3  0.793145 -0.460053  0.257168 -0.015782
3
a    1.339602
b   -1.294403
Name: 3, dtype: float64